<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <header>
        <p th:text="'User login:' + ${user.getLogin()}"></p>
        <form th:method="POST" th:action="@{/logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <button type="submit">Logout</button>
        </form>
    </header>

    <main>
        <form th:method="POST" th:action="@{/location/search}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <label for="search"></label>
            <input type="text" th:name="locationName" id="search">
            <input type="submit" value="Search">
        </form>

        <fieldset>
            <div style="color: darkblue" th:if="${locations.isEmpty()}">
                У вас пока не добавлена ни одна локация для отслеживания погоды</div>
            <form th:each="location : ${locations}" th:method="DELETE" th:action="@{/location/delete}">
                <p th:text="${location.getName()}"></p>
                <p th:text="${location.getTemperature()}"></p>
                <input type="hidden" th:name="lat" th:value="${location.getLat()}">
                <input type="hidden" th:name="lon" th:value="${location.getLon()}">
                <input type="submit" value="Delete">
            </form>
        </fieldset>
    </main>
</body>
</html>